
.input-bottom{
  margin-bottom: 1em;
  color: teal;
  font-size: 3em;

}
.jumbotron {
  padding: 1rem 2rem 1rem 1rem !important;
  background-image: url('../../assets/images/header.svg');
  background-blend-mode: overlay;
}
.mat-drawer{
  left: 0 !important;
}
.fullHeight {
  height: 100vh;
}
