<!--Footer-->
<footer class="card-footer fixed-bottom page-footer">
  <mat-card class="full-height z-depth-3">

  <!--Footer Links-->
  <mat-card-content>
    <mat-card-sub-title>
        <span>
          <p class="title">Available in Play Store and App Store</p>
          <div>
          <a class="badge" href='https://play.google.com/store/apps/details?id=io.search.recipesearch&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="120px"   height="40px" src='../../assets/images/badgeFooter.jpg'/></a>
          <a class="badge" href='https://play.google.com/store/apps/details?id=io.search.recipesearch&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="130px"   height="60px" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
        </span>
    </mat-card-sub-title>


      <!--/.Second column-->

  </mat-card-content>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
    </div>
  </div>
  <!--/.Copyright-->

  </mat-card>
</footer>
<!--/.Footer-->
