.input-bottom{
  margin-bottom: 1em;
}
.chevron{
  padding-top: 2em;
}
.glyph{
  background: transparent;
}
.danger{
  color:red;
}
.ng-invalid{
  border-color: red;
}
.mat-form-field{
  width: 100%;
}
.mar-bottom{
  margin-bottom: 0.5em;
}
