<div >
  <form [formGroup]="myForm" novalidate class="container-fluid text-center">
    <div  formArrayName="search" *ngFor="let item of myForm.get('search').controls; let i = index" class="row">
      <div class="col-md-2"></div>
      <div [formGroupName]="i" class="col-md-8">
        <span>
          <input type="text" class="form-control input-bottom" id="search-{{i}}" formControlName="name">
        </span>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <button (click)="addSearchBox()" class="btn btn-primary">Add New</button>
      <button (click)="search()" class="btn btn-primary">Search</button>
      <button (click)="removeSearchBox()" class="btn btn-primary">Remove</button>
    </div>
  </div>
</div>
