.border-round{
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  margin-left:1em;
  padding: 1em;
}
.media.row{
  margin-bottom: 1em;
}
.pad-left-2{
  padding-left: 2em;
}
.mar-top{
  margin-top: 1em;
}


.label-centered{
  margin: auto;
  width: 50%;
  padding: 1px;
}
.filterGroup{
  margin-right: 1em;
}
.border-round > img{
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
.media-left{
}
.mar-right{
  margin-right: 1em;
}
.btn-danger.mar-right{
  margin-right: 1em;
}
.mar-left{
  margin-left: 1em;
}
.tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}
@media (min-width: 768px){
  .border-round {
    margin-left: 0.2em;
    margin-right: 2.5em;
  }
}
@media ( min-width:  320px){

}
@media (max-width: 425px){
  .border-round{
    border-top: 0;
    padding-left: 2em;
    margin-left: 0;
  }
  .mar-right {
    margin-right: 2em;
  }
}
@media(min-width: 992px) {
  .pad-left{
    padding-left: 4em;
  }
  .pad-left-2{
    padding-left: 7em;
  }
  .border-round{
    margin-left: 0;
    margin-left:3em;
  }

}
@media (min-width: 1024px) and (max-width: 1250px){
    .media-body{
      margin-left: 2em;
    }
  .mar-left {
    margin-left: 0;
  }
}
.btn{
  margin-bottom: 0.5em;
}
.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scroll {
  opacity: 1;
  transition: all .2s ease-in-out;
}
