<div class="row pad-left-2" *ngIf="recipes.RecipeObject['length'] > 0">
  <div class="btn-group filterGroup col-xs-12">
    <button type="button" mat-raised-button color="warn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{filterValue | translate}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="getFilterResults('Relavence')" [innerHTML]=" 'ReleavenceLabel' | translate"></a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="getFilterResults(i)" *ngFor="let i of getFilterList()">{{i}}</a>
    </div>
  </div>
  <div class="btn-group filterGroup col-xs-12">
    <button type="button" mat-raised-button color="warn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{sortValue | translate}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="getSortResults('ASC')" [innerHTML]=" 'LowToHighLabel' | translate"></a>
      <a class="dropdown-item" (click)="getSortResults('DESC')" [innerHTML]=" 'HighToLowLabel' | translate"></a>
    </div>
  </div>
</div>
<div class="row pad-left">
  <div *ngFor="let hit of recipes.RecipeObject; let in = index" class="border-round col-xs-12 col-sm-12 col-md-12 col-lg-5" >
    <mat-card>
      <div class="media row">
        <div class="media-left col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <img class="media-object" src="{{hit.image}}" width="150px" height="150px" alt="...">
        </div>
        <div class="media-body col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <h4 class="media-heading">{{hit.title}}</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 mar-left mar-top mar-right">
          <div class="row">
            <app-nutrient-dialog [nutrients]="hit.nutrients"></app-nutrient-dialog>
          <a href="{{hit.recipieUrl}}" target="_blank">
            <button mat-raised-button color="accent" class="btn btn-success" ngbTooltip="View Website"><i class="material-icons">visibility</i></button></a>
          </div>
        </div>
        <div class="media-row">
          <ul>
            <li *ngFor="let ingredient of hit.ingredients| slice:0:5; let i=index">
              {{ingredient}}
            </li>
          </ul>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row label-centered" *ngIf="recipes.RecipeObject['length'] > 0">
  <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">
    <button mat-raised-button color="primary" class="btn btn-default" (click)="recipes.pollRecipeData()" [innerHTML]=" 'SeeMoreRecipesLabel' | translate"></button>
  </div>
</div>

  <!--Scroll to top-->
  <div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
    <button mat-mini-fab color="primary" (click)="scrollToTop()">
      <i class="material-icons">arrow_upward</i>
    </button>
  </div>
